# Node
node_modules/
node-backend/node_modules/
node-backend/uploads/
node-backend/npm-debug.log

# Python
venv/
.venv/
python-ai-engine/venv/
python-ai-engine/.venv/
python-ai-engine/temp_processing/

__pycache__/
*.pyc

# Environment Variables
.env
*.env